#container {
	width: 250px;
	margin: 50px auto;
	height: 300px;
	text-align: center;
}
.header {
	position: relative;
	left: -20px;
	width: 100%;
	border-radius: 5px;
	height: 30px;
	padding: 0 20px;
	background: #e52 none repeat scroll 0 0;
	z-index: 2;
}
.header p:first-of-type {
	float: left;
	font-size: 20px;
	line-height: 30px;
}
.header p:last-of-type {
	float: right;
	font-size: 16px;
	line-height: 30px;
}
.header img {
	width: 16px;
	height: 16px;
	margin: 6px 2px;
	border: 1px solid black;
	float: right;
	cursor: pointer;
}
.content {
	width: 100%;
	height: 236px;
	border: 2px solid #e52;
	overflow: hidden;
}
.content ul {
	position: relative;
}
.content img {
	width: 95%;
	margin: 5px;
}
.content p {
	text-align: left;
	margin: 5px;
	font-size: 14px;
}
.content p span:last-of-type {
	color: gray;
	float: right;
}
.content p a {
	color: red;
	text-decoration: none;
}
.total {
	text-align: left;
	text-indent: 2em;
	font-family: "微软雅黑";
	width: 60%;
	margin: 0 auto;
}
.total h1 {
	text-align: center;
	font-size: 1.5em;
	text-indent: 2em;
	line-height: 2.5em;
}